```python
pandas.read_csv(filepath_or_buffer, sep=',', header=0, names=None, usecols=None, ...)
```

In [1]:
# Loading the CSV into a `DataFrame`
import pandas as pd

salary_data = pd.read_csv('https://codefinity-content-media.s3.eu-west-1.amazonaws.com/a43d24b6-df61-4e11-9c90-5b36552b3437/Salary+Dataset.csv')
print(salary_data)

                                          Company Name Job Title  \
0    Mu Sigma,Data Scientist,105,Bangalore,"₹6,48,5...       NaN
1      IBM,Data Scientist,95,Bangalore,"₹11,91,950/yr"       NaN
2    Tata Consultancy Services,Data Scientist,66,Ba...       NaN
3    Impact Analytics,Data Scientist,40,Bangalore,"...       NaN
4    Accenture,Data Scientist,32,Bangalore,"₹9,44,1...       NaN
..                                                 ...       ...
327     SOTI,Data Scientist,1,Bangalore,"₹7,03,427/yr"       NaN
328  CoRover,Data Scientist,1,Bangalore,"₹19,99,227...       NaN
329  iOPEX Technologies,Data Scientist,1,Bangalore,...       NaN
330  Alfonso & Associates Consulting,Data Scientist...       NaN
331    iQuanti,Data Scientist,1,Bangalore,"₹30,147/mo"       NaN

     Salaries Reported Location Salary
0                  NaN      NaN    NaN
1                  NaN      NaN    NaN
2                  NaN      NaN    NaN
3                  NaN      NaN    NaN
4                  NaN      NaN    NaN
..                 ...      ...    ...
327                NaN      NaN    NaN
328                NaN      NaN    NaN
329                NaN      NaN    NaN
330                NaN      NaN    NaN
331                NaN      NaN    NaN

[332 rows x 5 columns]

```python
pandas.DataFrame.to_csv(path_or_buf=None, sep=',', ..., columns=None, header=True, index=True, ...)
```

In [2]:
import pandas as pd

countries_data = {'country' : ['Thailand', 'Philippines', 'Monaco', 'Malta', 'Sweden', 'Paraguay', 'Latvia'], 'continent' : ['Asia', 'Asia', 'Europe', 'Europe', 'Europe', 'South America', 'Europe'], 'capital':['Bangkok', 'Manila', 'Monaco', 'Valletta', 'Stockholm', 'Asuncion', 'Riga']}
countries = pd.DataFrame(countries_data)

countries.to_csv('countries.csv')
print('Done')

Done

In [3]:
import pandas as pd
file_url = 'https://codefinity-content-media.s3.eu-west-1.amazonaws.com/a43d24b6-df61-4e11-9c90-5b36552b3437/wine.csv'
# Load the CSV into a `DataFrame`
wine_data = pd.read_csv(file_url)
# Display the result
print(wine_data)

     Unnamed: 0  fixed acidity  volatile acidity  citric acid  residual sugar
0             0            7.4             0.700         0.00             1.9
1             1            7.8             0.880         0.00             2.6
2             2            7.8             0.760         0.04             2.3
3             3           11.2             0.280         0.56             1.9
4             4            7.4             0.700         0.00             1.9
..          ...            ...               ...          ...             ...
451         451            8.7             0.840         0.00             1.4
452         452            9.6             0.880         0.28             2.4
453         453            9.5             0.885         0.27             2.3
454         454            8.9             0.290         0.35             1.9
455         455            9.9             0.540         0.45             2.3

[456 rows x 5 columns]