```python
df.insert(column_index, 'column_name', [value_1, value_2, value_3])
```

In [1]:
import pandas as pd
countries_data = {'country' : ['Thailand', 'Philippines', 'Monaco', 'Malta', 'Sweden', 'Paraguay', 'Latvia'],
          'continent' : ['Asia', 'Asia', 'Europe', 'Europe', 'Europe', 'South America', 'Europe'],
          'capital':['Bangkok', 'Manila', 'Monaco', 'Valletta', 'Stockholm', 'Asuncion', 'Riga']}
countries = pd.DataFrame(countries_data)

countries.insert(1, 'population', [61399000, 75967000, 39244, 380200, 10380491, 5496000, 2424200])
print(countries)

       country  population      continent    capital
0     Thailand    61399000           Asia    Bangkok
1  Philippines    75967000           Asia     Manila
2       Monaco       39244         Europe     Monaco
3        Malta      380200         Europe   Valletta
4       Sweden    10380491         Europe  Stockholm
5     Paraguay     5496000  South America   Asuncion
6       Latvia     2424200         Europe       Riga

In [2]:
import pandas as pd 
cars_data = {'model': ['Audi A1', 'Audi A6', 'Audi A4', 'Audi A3','Audi A1'],
          'year': [2017, 2016, 2017, 2019, 2016],
          'fueltype': ['petrol', 'diesel', 'diesel', 'petrol', 'petrol']}
# Write your code here
audi_cars = pd.DataFrame(cars_data)
# Adding a new column
audi_cars.insert(2, 'price', [12500, 16500, 16800, 17300, 13900])
print(audi_cars)

     model  year  price fueltype
0  Audi A1  2017  12500   petrol
1  Audi A6  2016  16500   diesel
2  Audi A4  2017  16800   diesel
3  Audi A3  2019  17300   petrol
4  Audi A1  2016  13900   petrol