```python
drop(index, columns, axis)
```

In [1]:
import pandas as pd 

countries_data = {'country' : ['Thailand', 'Philippines', 'Monaco', 'Malta', 'Sweden', 'Paraguay', 'Latvia'],
          'continent' : [None, None, 'Europe', None, 'Europe', None, 'Europe'],
          'capital':['Bangkok', 'Manila', 'Monaco', 'Valletta', 'Stockholm', 'Asuncion', 'Riga']}
countries = pd.DataFrame(countries_data)
print(countries)

       country continent    capital
0     Thailand      None    Bangkok
1  Philippines      None     Manila
2       Monaco    Europe     Monaco
3        Malta      None   Valletta
4       Sweden    Europe  Stockholm
5     Paraguay      None   Asuncion
6       Latvia    Europe       Riga

In [2]:
import pandas

countries_data = {'country' : ['Thailand', 'Philippines', 'Monaco', 'Malta', 'Sweden', 'Paraguay', 'Latvia'],
          'continent' : [None, None, 'Europe', None, 'Europe', None, 'Europe'],
          'capital':['Bangkok', 'Manila', 'Monaco', 'Valletta', 'Stockholm', 'Asuncion', 'Riga']}
countries = pandas.DataFrame(countries_data)
countries = countries.drop(columns = ['continent'],axis=1)
print(countries)

       country    capital
0     Thailand    Bangkok
1  Philippines     Manila
2       Monaco     Monaco
3        Malta   Valletta
4       Sweden  Stockholm
5     Paraguay   Asuncion
6       Latvia       Riga

In [3]:
import pandas as pd 
cars_data = {'model': ['Audi A1', 'Audi A6', 'Audi A4', 'Audi A3','Audi A1'],
          'year': [2017, 2016, 2017, 2019, 2016],
          'fueltype': ['petrol', 'diesel', 'diesel', 'petrol', 'petrol'],
          'capital': ['Manila', 'Monaco', 'Bangkok', 'Stockhol', 'Valletta']}
# Creating a dataframe
audi_cars = pd.DataFrame(cars_data)
# Deleting a column
audi_cars = audi_cars.drop(columns = ['capital'], axis = 1)
print(audi_cars)

     model  year fueltype
0  Audi A1  2017   petrol
1  Audi A6  2016   diesel
2  Audi A4  2017   diesel
3  Audi A3  2019   petrol
4  Audi A1  2016   petrol