```python
# If you want to delete one column
data.drop(columns = 'column_name', inplace = True)

# If you want to delete several columns
data.drop(columns = ['column_1', 'column_2'], inplace = True)
```

In [1]:
import pandas as pd

data = pd.read_csv('https://codefinity-content-media.s3.eu-west-1.amazonaws.com/4bf24830-59ba-4418-969b-aaf8117d522e/titanic_0.csv')

# Delete the column with the greatest number of NaN values
data.drop(columns = 'Cabin', inplace = True)

# Output the result
print(data.sample(5))

     Unnamed: 0  PassengerId  Survived  Pclass  \
252         252         1144         0       1
158         158         1050         0       1
12           12          904         1       1
255         255         1147         0       3
37           37          929         1       3

                                              Name     Sex   Age  SibSp  \
252                       Clark, Mr. Walter Miller    male  27.0      1
158                       Borebank, Mr. John James    male  42.0      0
12   Snyder, Mrs. John Pillsbury (Nelle Stevenson)  female  23.0      1
255                     MacKay, Mr. George William    male   NaN      0
37                              Cacic, Miss. Manda  female  21.0      0

     Parch      Ticket      Fare Embarked
252      0       13508  136-7792        C
158      0      110489     26-55        S
12       0       21228   82-2667        S
255      0  C.A. 42795      7-55        S
37       0      315087    8-6625        S