In [1]:
import pandas as pd
data = pd.read_csv('https://codefinity-content-media.s3.eu-west-1.amazonaws.com/4bf24830-59ba-4418-969b-aaf8117d522e/titanic3.csv', index_col = 0)
data = pd.get_dummies(data, columns = ['Embarked'])
print(data[['Name', 'Embarked_C', 'Embarked_Q', 'Embarked_S']].sample(5))

                                       Name  Embarked_C  Embarked_Q  \
415            Saether, Mr. Simon Sivertsen       False       False
128                    Bowenur, Mr. Solomon       False       False
117         Sandstrom, Miss. Beatrice Irene       False       False
371               Wilson, Miss. Helen Alice        True       False
286  Franklin, Mr. Charles (Charles Fardon)       False       False

     Embarked_S
415        True
128        True
117        True
371       False
286        True

```python
pd.get_dummies(data, columns = ['Embarked'])
```

In [2]:
import pandas as pd

# Load the dataset
data = pd.read_csv('https://codefinity-content-media.s3.eu-west-1.amazonaws.com/4bf24830-59ba-4418-969b-aaf8117d522e/titanic3.csv', index_col=0)

# Modify the column by converting 'Sex' into dummy variables
data = pd.get_dummies(data, columns=['Sex'])

# Calculate the sum of values for each category
sex_male = data['Sex_male'].sum()
sex_female = data['Sex_female'].sum()

# Output the sum
print(sex_male, sex_female)

265 152