In [1]:
import pandas as pd 

country_data = {'country' : ['Thailand', 'Philippines', 'Monaco', 'Malta', 'Sweden', 'Paraguay', 'Latvia'],
          'continent' : ['Asia', 'Asia', 'Europe', 'Europe', 'Europe', 'South America', 'Europe'],
          'capital':['Bangkok', 'Manila', 'Monaco', 'Valletta', 'Stockholm', 'Asuncion', 'Riga']}
countries = pd.DataFrame(country_data)
print(countries)

       country      continent    capital
0     Thailand           Asia    Bangkok
1  Philippines           Asia     Manila
2       Monaco         Europe     Monaco
3        Malta         Europe   Valletta
4       Sweden         Europe  Stockholm
5     Paraguay  South America   Asuncion
6       Latvia         Europe       Riga

In [2]:
import pandas as pd

country_data = {'country' : ['Thailand', 'Philippines', 'Monaco', 'Malta', 'Sweden', 'Paraguay', 'Latvia'],
          'continent' : ['Asia', 'Asia', 'Europe', 'Europe', 'Europe', 'South America', 'Europe'],
          'capital':['Bangkok', 'Manila', 'Monaco', 'Valletta', 'Stockholm', 'Asuncion', 'Riga']}
countries = pd.DataFrame(country_data)
unique_countries = countries['country'].unique()
unique_continents = countries['continent'].unique()
print(unique_countries)
print(unique_continents)

['Thailand' 'Philippines' 'Monaco' 'Malta' 'Sweden' 'Paraguay' 'Latvia']
['Asia' 'Europe' 'South America']

In [3]:
import pandas as pd

country_data = {'country' : ['Thailand', 'Philippines', 'Monaco', 'Malta', 'Sweden', 'Paraguay', 'Latvia'],
          'continent' : ['Asia', 'Asia', 'Europe', 'Europe', 'Europe', 'South America', 'Europe'],
          'capital':['Bangkok', 'Manila', 'Monaco', 'Valletta', 'Stockholm', 'Asuncion', 'Riga']}
countries = pd.DataFrame(country_data)
print(countries['continent'].nunique())

3

In [4]:
import pandas as pd 

cars_data = {
    'model': ['audi A1', 'audi A6', 'audi A4', 'audi A3','audi A1'],
    'year': [2017, 2016, 2017, 2019, 2016],
    'fueltype': ['petrol', 'diesel', 'diesel', 'petrol', 'petrol'],
    'capital': ['Manila', 'Monaco', 'Bangkok', 'Stockhol', 'Valletta']
}

audi_cars = pd.DataFrame(cars_data)

# Find unique values
unique_years = audi_cars['year'].unique()
unique_fueltype = audi_cars['fueltype'].unique()
count_unique_fueltypes = audi_cars['fueltype'].nunique()

print(unique_years)
print(unique_fueltype)
print(count_unique_fueltypes)

[2017 2016 2019]
['petrol' 'diesel']
2